.event .event-single-element {
    background-color: white;
    margin: 30 15 15 15 
}
.event .event-single-element .img-event {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}


