.event .event-single-element {
    margin: 10px;
    padding: 10px;
}
.event .event-single-element p {
    background-color: white;
}
.event .event-single-element .img-event {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 500px) {
    
    .event .event-single-element img {
        display: none;
    }

    .header .header-menu {
            float: left;
            color: #FDBA74;
        }    
    .banner .banner-content h1 {
            color: #C2410C;
            font-size: 30px;
        }
}