/*Header*/

.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #78350F;position: fixed;
    top: 0;
    z-index: 999;
}
.header .header-logo {
    color: antiquewhite;
    font-family: 'Lato', sans-serif;
    float: left;
    margin-left: 30px;
}
.header .header-menu {
    float: right;
    margin-right: 30px;
}
.header .header-menu a {
    margin-right: 15px;
    color: antiquewhite;
}
.header .header-menu a:hover {
    color: #C2410C;
}

/*Banner*/

.banner {
    margin-top: -20px;
}
.banner .banner-image {
    position: relative;
}
.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}
.banner .banner-content h1 {
    color: #FDBA74;
}